body {
  margin: 0px;
}

.topBar {
  height: 7vh;
  width: 100%;
  margin: 0px;
  padding: 5px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.googleLogo {
  height: 6.5vh;
  width: 6.5vh;
  padding: 10px;
  border-radius: 50%;
}

.googleLogo:hover {
  border: 3px;
  border-color: black;
}

.theLinks {
  width: 300px;
  border: 10px;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-end;
}

.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.google-main {
  max-width: 900px;
  width: 80%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

#googleSearchBar {
  border-radius: 10px;
  height: 35px;
  width: 300px;
}

.enter {
  height: 35px;
  width: 80px;
  border-radius: 10px;
  background-color: lightblue;
}

.enter:hover {
  border: 4px;
  border-color: black;
  color: lightskyblue;
}

.bottomPage {
  height: 5.7vh;
  width: 100%;
  border-top: 0.3vh solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.madeBy {
  font: icon;
}

/* page 2 */

.nameTag {
  height: 9.8vh;
  width: 100%;
  border-bottom: 0.2vh solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxForName {
  height: 8.5vh;
  width: 50%;
  background-color: darkgreen;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.name {
  font: italic;
  font-size: x-large;
  margin-left: 30px;
}

.mainPart2 {
  height: 91.5vh;
  width: 100%;
  display: flex;
  align-items: row;
}

.aboutMe {
  width: 60vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pictureThing {
  width: 40vw;
}
