body {
  margin: 0px;
}

.topBar {
  height: 75px;
  width: 100%;
  margin: 0px;
  padding: 5px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.googleLogo {
  height: 67px;
  width: 67px;
  border-radius: 50%;
}

.theLinks {
  width: 300px;
  border: 10px;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: flex-end;
}
